<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.RecipeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.RecipeProvider"
            android:authorities="com.example.android.bakingapp"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UI.RecipeItemListActivity"
            android:label="@string/title_recipeitem_list"
            android:parentActivityName=".UI.RecipeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bakingapp.UI.RecipeListActivity" />
        </activity>
        <activity
            android:name=".UI.RecipeItemDetailActivity"
            android:label="@string/title_recipeitem_detail"
            android:parentActivityName=".UI.RecipeItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.bakingapp.UI.RecipeItemListActivity" />
        </activity>

        <receiver android:name=".widgets.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <activity android:name=".widgets.BakingAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>